<div class="article-wrapper">
  <div class="article">

    <div class="layout-left">
      <div class="article-header">
        <div class="label">
          <div class="item" *ngFor="let label of articleData.labels">{{label}}</div>

        </div>
        <div class="article-title">
          <h3>{{articleData.article_title}}</h3>
        </div>
        <div class="article-detail">
          <p>作者：<span class="username">{{articleData.username}}</span><span> · </span>
            Updated <span class="time"> {{articleData.article_date.time | date}}</span>
            <span>浏览量：{{articleData.article_views}}</span>
          </p>
        </div>
        <mat-divider></mat-divider>
      </div>

      <div class="article-body" id="article">

      </div>

      <!--             [class.commend]="isCommend"-->
      <!--             (click)="commend(article.article_id)"-->
      <div class="article-footer">

        <div [class.commend]="isCommend"
             (click)="commend(articleData.article_id)" matTooltip="点赞"
             matTooltipPosition="above">
          <i class="material-icons">favorite_border</i><span>{{articleData.article_like_count}}</span>
        </div>

        <div matTooltip="评论" matTooltipPosition="above">
          <i class="material-icons">comment</i><span>{{articleData.article_comment_count}}</span>
        </div>

      </div>

      <div class="article-comment">
        <div class="img">
          <img src="https://qph.fs.quoracdn.net/main-thumb-827962555-100-fnljlqocfeqwdqlsizppwahbsjdnsjfw.jpeg" alt="">
        </div>
        <!--评论区-->
        <div class="comment">
          <!--                    <mat-form-field class="full-width">-->
          <!--                      <input type="text" matInput placeholder="添加评论">-->
          <!--                    </mat-form-field>-->

          <mat-form-field class="full-width">
            <mat-label>添加评论</mat-label>
            <textarea #msg [(ngModel)]="comment_content" maxlength="500" matInput
                      placeholder="Ex. It makes me feel..."></textarea>
            <mat-hint align="end">{{msg.value.length}} / 500</mat-hint>
          </mat-form-field>
        </div>
        <button class="all" (click)="addComment();" mat-flat-button color="primary" [disabled]="!!!msg.value.length">
          发表评论
        </button>
      </div>


      <!--评论列表-->
      <div class="comments">
        <div class="comment" *ngFor="let comment of commentList,let index = index">

          <!--          评论-->
          <div class="parent-comment">
            <div class="avatar">
              <img src="https://qph.fs.quoracdn.net/main-thumb-827962555-100-fnljlqocfeqwdqlsizppwahbsjdnsjfw.jpeg"
                   alt="">
            </div>
            <div class="content">
              <p class="username">{{comment.username}}</p>
              <p class="text">
                {{comment.content}}
              </p>
              <div class="comment-info">
                <span class="time">Updated {{comment.generate_time.time | date}}</span>
                <span class="reply" (click)="openReplyInput(index)">回复</span>
                <span class="reply show-reply" *ngIf="!!comment.reply_counts && !comment.replyShow"
                      (click)="showReply(index,comment.commend_id)">查看回复({{comment.reply_counts}})</span>
                <span class="reply show-reply" (click)="closeReply(index)" *ngIf="comment.replyShow">收起</span>
              </div>
            </div>

          </div>

          <div class="reply" *ngIf="index === selectValue">
            <div class="img">
              <img src="https://qph.fs.quoracdn.net/main-thumb-827962555-100-fnljlqocfeqwdqlsizppwahbsjdnsjfw.jpeg"
                   alt="">
            </div>

            <div class="input-reply">
              <mat-form-field class="full-width">
                <mat-label>添加回复</mat-label>
                <textarea #reply [(ngModel)]="replyContent" maxlength="500" matInput
                          placeholder="Ex. It makes me feel..."></textarea>
                <mat-hint align="end">{{reply.value.length}} / 500</mat-hint>
              </mat-form-field>
            </div>
            <div class="button">
              <button style="width: 100px;" (click)="addReply(comment.commend_id,comment.uid,index);" mat-stroked-button
                      color="primary"
                      [disabled]="!!!reply.value.length">
                回复
              </button>
            </div>

          </div>

          <div class="child-comment" *ngIf="comment.replyShow">

            <div class="child-item" *ngFor="let reply of comment.replayList,let i = index;">
              <div class="avatar">
                <img src="https://qph.fs.quoracdn.net/main-thumb-827962555-100-fnljlqocfeqwdqlsizppwahbsjdnsjfw.jpeg"
                     alt="">
              </div>
              <div class="content">

                <div>
                  <p class="username">{{reply.username}} <span> 回复 </span>{{reply.replyToName}}</p>
                  <p class="text">
                    {{reply.reply_content}}
                  </p>
                  <div class="comment-info">
                    <span class="time">{{reply.generate_time.time | date}}</span>
                    <span class="replay" (click)="ReplyCommentInput(i)">回复</span>
                  </div>

                  <!--                  <div class="reply" *ngIf="index === selectValue">-->
                  <!--                    <div class="img">-->
                  <!--                      <img-->
                  <!--                        src="https://qph.fs.quoracdn.net/main-thumb-827962555-100-fnljlqocfeqwdqlsizppwahbsjdnsjfw.jpeg"-->
                  <!--                        alt="">-->
                  <!--                    </div>-->
                  <!--                  </div>-->

                  <!--                       子评论回复-->


                  <div class="reply" *ngIf="i === childValue">

                    <div class="input-reply" style="width: 350px;">
                      <mat-form-field class="full-width">
                        <mat-label>添加回复</mat-label>
                        <textarea #texts [(ngModel)]="replyContent" maxlength="500" matInput
                                  placeholder="Ex. It makes me feel..."></textarea>
                        <mat-hint align="end">{{texts.value.length}} / 500</mat-hint>
                      </mat-form-field>
                    </div>
                    <div class="button">
                      <button style="width: 100px;"
                              (click)="addChildReply(index,reply.uid,reply.comment_id);" mat-stroked-button
                              color="primary"
                              [disabled]="!!!texts.value.length">
                        回复
                      </button>
                    </div>

                  </div>

                </div>

              </div>
            </div>

          </div>


        </div>

      </div>


    </div>


    <div class="layout-right">
      <div class="author common">
        <div class="about-author">关于作者</div>

        <div class="profile">
          <img src="https://qph.fs.quoracdn.net/main-thumb-827962555-100-fnljlqocfeqwdqlsizppwahbsjdnsjfw.jpeg" alt="">
        </div>
        <ul class="user-detail">
          <li class="username">{{authorInfo.username}}</li>
          <li class="email"><i class="material-icons" style="font-size: 12px;height: 13px">
            mail_outline
          </i> <span>: {{authorInfo.email}}</span>
          </li>
          <li class="description">
            {{authorInfo.describe}}
          </li>
        </ul>
        <div class="user-statistics">
          <div matTooltip="发表文章数" matTooltipPosition="above">
            <i class="material-icons">insert_drive_file</i>
            <div class="count">{{authorInfo.total}}</div>
          </div>
          <div matTooltip="点赞数" matTooltipPosition="above">
            <i class="material-icons"> thumb_up_alt </i>
            <div class="count">{{authorInfo.article_like_counts}}</div>
          </div>
          <div matTooltip="浏览数" matTooltipPosition="above">
            <i class="material-icons"> pets </i>
            <div class="count">{{authorInfo.article_views}}</div>
          </div>
        </div>

      </div>

      <div class="article-hot common">
        <div class="hot-title">最热文章</div>
        <ul class="content-list">

          <li *ngFor="let list of hotArticleList">
            <a target="_blank" [routerLink]="['/article',list.article_id]">{{list.article_title}}</a>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>

