<div class="wrapper">

  <h3 mat-dialog-title class="article-dialog-title"> 发布文章 </h3>

  <div mat-dialog-content class="article-dialog-content">
    <!--    <div class="items">-->
    <!--      <span class="label"> 文章标签：</span>-->
    <!--      <i style="font-size: 16px;" class="material-icons items-content">-->
    <!--        note_add-->
    <!--      </i> <span class="items-content">添加标签</span>-->
    <!--    </div>-->
    <div class="items">
      <span class="label"> 添加标签：</span>
      <!--      <mat-form-field>-->
      <!--        <mat-select>-->
      <!--          <mat-option *ngFor="let label of allLabels" [value]="label">-->
      <!--            {{label}}-->
      <!--          </mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
      <mat-form-field class="label-chip-list">
        <mat-chip-list #chipList aria-label="label selection" class="">
          <mat-chip *ngFor="let label of selectedLabel" [selectable]="true"
                    [removable]="true" (removed)="remove(label)">
            {{label}}
            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
          </mat-chip>
          <input placeholder="添加标签,做多三个，，"
                 [matChipInputFor]="chipList"
                 [matAutocomplete]="auto"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="add($event)">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of allLabels" [value]="option" (click)="optionAdd(option)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-chip-list>
      </mat-form-field>

    </div>
    <!--    <div class="items">-->
    <!--      <span class="label"> 添加标签：</span>-->
    <!--      <mat-form-field class="label-chip-list">-->
    <!--        <mat-chip-list #chipList aria-label="label selection" class="">-->
    <!--          <mat-chip *ngFor="let label of selectedLabel" [selectable]="true"-->
    <!--                    [removable]="true" (removed)="remove(label)">-->
    <!--            {{label}}-->
    <!--            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>-->
    <!--          </mat-chip>-->
    <!--          <input placeholder="添加标签"-->
    <!--                 [matChipInputFor]="chipList"-->
    <!--                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
    <!--                 [matChipInputAddOnBlur]="true"-->
    <!--                 (matChipInputTokenEnd)="add($event)">-->
    <!--        </mat-chip-list>-->
    <!--      </mat-form-field>-->
    <!--    </div>-->


    <div class="items">
      <span class="label"> 文章简述：</span>
      <mat-form-field class="title-full-width">
        <input matInput placeholder="文章简述" >
      </mat-form-field>
    </div>

    <div class="items">
      <span class="label"> 发布形式：</span>
      <section (click)="consoleType()">
        <mat-radio-group class="publish-section" [(ngModel)]="publishType">
          <mat-radio-button class="publish-section-margin" value="1">公开</mat-radio-button>
          <mat-radio-button class="publish-section-margin" value="2">私密</mat-radio-button>
          <mat-radio-button disabled="disabled" class="publish-section-margin" value="3">粉丝可见</mat-radio-button>
          <mat-radio-button disabled="disabled" class="publish-section-margin" value="4">vip可见</mat-radio-button>
        </mat-radio-group>
      </section>
    </div>
  </div>

  <div mat-dialog-actions class="article-dialog-action">
    <button (click)="dialogClose()" mat-button>取消</button>
    <button mat-stroked-button color="accent" (click)="publish()">发布文章</button>
  </div>

</div>
